<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="filepath" value="C:\Data\TournamentTracker"/> 
	</appSettings>
	<connectionStrings>
		<add name="Tournament" connectionString="Server=DESKTOP-STD379L;Database=Tournament;Trusted_connection=True;" providerName="System.Data.SqlCLient"/>
	</connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>